@import url(//fonts.googleapis.com/css?family=Lora:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700,800);
@import url(csans.css);
@import url(csans.helpers.css);

:root {
	--black: #282933;
	--color: #505166;
	--font-sans: 'Open Sans', Helvetica, sans-serif;
	--font-serif: 'Lora', Georgia, sans-serif;
	--gray: #F8F8F8;
}

body {
	color: var(--black);
	font-family: var(--font-serif);
	position: relative;
}

h1, h2, h3 {
	font-family: var(--font-sans);
	font-weight: 400;
}
strong {
	font-family: var(--font-sans);
	font-weight: 700;
}
li {
	margin-top: 0.3em;
}

a {
	color: var(--color);

	&:hover {
		text-decoration: none;
	}
}
p {
	margin: 0.5em 0;
}
pre {
	margin: 1em 0;
}
code {
	border-radius: 3px;
	background: var(--gray);
	border: solid 1px color(var(--black) tint(10));
	padding: 0.2em 0.4em;
	font-size: 1rem;
}

table {
	font-size: 1rem;
	font-family: var(--font-sans);
	width: 100%;

	th {
		padding: 0.5em;
	}

	td {
		padding: 0.5em;
		vertical-align: initial;
		background: var(--gray);
		border-color: color(var(--black) tint(20));
	}
}

.page-header {
	background: color(var(--color) lightness(50));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	color: white;
	font-family: var(--font-sans);
	text-align: center;
	padding: 0 10px;

	img {
		max-width: 100%;
		height: auto;
	}

	p {
		font-size: 2rem;
		margin: 5px 0 0 0;
		line-height: 1;
	}
	small {
		color: var(--color);
	}

	.forkme {
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(forkme.png);
		width: 149px;
		height: 149px;
	}
}

.page-navigation {
	position: sticky;
	top: 0;

	ul {
		display: flex;
		list-style: none;
		justify-content: center;
		background: white;
		box-shadow: 0 0 1px color(black a(0.3));
		font-family: var(--font-sans);
		font-weight: 400;
		margin: 0;

		a {
			padding: 1.6em;
			color: var(--color);
			text-transform: uppercase;
			font-size: 0.9em;
			text-decoration: none;
			border-bottom: solid 4px white;
			border-top: solid 4px white;
			display: block;
			white-space: nowrap;

			&:hover, &.selected {
				border-bottom-color: color(var(--color) tint(50));
			}
		}

		li.active a {
			border-bottom-color: var(--color);
		}
	}
}

.page-menu {
	background: color(var(--color) tint(10));

	nav {
		max-width: 20em;
		width: 30%;
		padding: 40px 20px;
		font-family: var(--font-sans);
		font-size: 1rem;
		margin: 0;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media (min-width: 670px) {
	.page-menu {
		display: flex;
		justify-content: center;
	}
}

.content-header {
	text-align: center;
	padding: 50px 20px;
	background: color(var(--color) lightness(50));
	color: white;

	h1 {
		margin: 0;
		font-size: 3.4rem;
		letter-spacing: -0.05em;
		line-height: 1;
	}
}

@media (max-width: 670px) {
	.page-navigation {
		ul {
			flex-wrap: wrap;

			li {
				flex-grow: 1;
				flex-shrink: 0;
				min-width: 150px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 610px) {
	.page-navigation {
		ul {
			li {
				min-width: 100px;
			}
		}
	}
}

@media (max-width: 500px) {
	.page-navigation {
		ul {
			li {
				min-width: 0px;
			}
		}
	}
}


.page-content {
	max-width: 35em;
	margin: 0 auto;
	padding: 20px;
	font-size: 1.2rem;
	line-height: 1.5;

	h2 {
		padding-top: 2.5em;
		margin-top: 0;
		font-size: 3.4rem;
		letter-spacing: -0.05em;
		line-height: 1;
		color: var(--black);
	}

	h3 {
		font-size: 1.6rem;
		line-height: 1;
		color: var(--black);
		margin-top: 2em;
	}
}

.page-footer {
	text-align: center;
	font-size: 0.8em;
	font-family: var(--font-sans);
	padding: 4em 0;
}

.demo {
	background: var(--color);
	font-family: var(--font-sans);
	color: color(var(--color) tint(50));
	padding: 40px 30px;
	margin-top: 40px;
}

.demo-code {
	display: flex;
	justify-content: space-around;
	align-items: center;

	> label {
		flex: 1;
		font-weight: 800;
		text-align: center;
		text-transform: uppercase;

		> a {
			font-weight: normal;
			text-transform: none;
			color: inherit;
			font-size: 0.9em;
			margin-left: 10px;
		}
	}

	textarea {
		width: 100%;
		height: 60vh;
		padding: 10px;
		margin-top: 15px;
		font-family:"Courier new",Courier,monospace;
		background: none;
		border: solid 1px var(--black);
		box-shadow: inset 0 0 5px var(--black);
		color: white;
		border-radius: 3px;
		resize: none;

		&::selection {
			background: black;
		}
	}

	button {
		cursor: pointer;
		background: white;
		color: var(--color);
		border: none;
		padding: 1em;
		font-size: 1.2rem;
		font-weight: 800;
		text-transform: uppercase;
		border-radius: 3px;
		white-space: nowrap;
		box-shadow: 0 0 3px black;
		margin: 20px;

		&:hover {
			color: var(--black);
			background: color(var(--color) tint(10));
			box-shadow: 0 0 5px black;
		}
	}
}
.demo-options {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.demo-plugins, .demo-support {
	padding: 5px 40px;
	max-width: 15em;
	list-style: none;

	li {
		margin: 5px 0;
	}

	label {
		font-size: 0.9rem;
		cursor: pointer;
	}
	li > strong {
		font-weight: 800;
		text-transform: uppercase;
		font-size: 1rem;
		display: block;
		margin-bottom: 1em;
	}
	input {
		margin-right: 5px;
	}
}

.demo-support {
	border-left: solid 1px color(var(--color) tint(80));
	input {
		text-align: center;
		border: none;
		border-radius: 3px;
		width: 4em;
		padding: 5px;
	}
}
